<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}|%-5level|%c - %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${sys:logfilename}" filePattern="${sys:logfilename}.%i">
            <PatternLayout pattern="%d{DEFAULT} %p [%t] [%c{1}] [%X]  - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="Metric" fileName="${sys:logbasedir}/metric.log" filePattern="metric.log.%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="32 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- package loggers -->
        <Logger name="io.grpc" level="WARN" additivity="true"/>
        <Logger name="io.netty" level="WARN" additivity="true"/>
        <Logger name="io.grpc.netty" level="WARN" additivity="true"/>
        <logger name="i.g.n.s.i.g.n.NettyClientHandler" level="WARN" additivity="true"/>
        <Logger name="io.grpc.netty.NettyServerHandler" level="WARN" additivity="true"/>
        <Logger name="io.grpc.netty.NettyClientHandler" level="WARN" additivity="true"/>
        <Logger name="MetricLog" level="INFO" additivity="false">
            <AppenderRef ref="Metric"/>
        </Logger>

        <!-- main logger -->
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>

    </Loggers>

</Configuration>

